{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="jumbotron jumbotron-fluid">
  <div class="container " style="text-align:center ;">
    <h2 >“A picture can tell a thousand words, but a few words can change it's story.”</h2>
    <!-- Adding a search form  -->
    <div class="col-sm-8 col-md-8 " style="margin: 4px auto;" >

     
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    {% for image_item in image_items %}
    <div class="col-md-4 main-page d-flex">
     
        <div class="card card-cascade wider flex-fill">
            <a href="{% url 'projectdetails' image_item.id %}"><img class="card-img-top" src="{{image_item.pic.url}}" alt="Card image_item cap"></a>
          <div class="card-body">
            <h5 class="card-title">{{image_item.image_name}}</h5>
            
            <p class="card-text"><small class="text-muted">{{ image_item.post_date}}</small></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">By {{image_item.user}}</small>
          </div>
        </div>
      
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

