{% extends 'base.html' %}
{% block content %}
<div class="container">

  <div class="row heading" style="margin-left:20px;">
    {% if images%}
    <h2>Found {{ images|length }} projects of searched term {{message}}</h2>
    {% else %}
    <h2> Found no projects for the search term {{message}}</h2>
    {% endif %}

  </div>
  <div class="row">
    {% for image in images %}
    <div class="col-md-4 main-page d-flex">
     
        <div class="card card-cascade wider flex-fill">
            <a href="{% url 'projectdetails' image.id %}"><img class="card-img-top" src="{{image.pic.url}}" alt="Card image_item cap"></a>
          <div class="card-body">
            <h5 class="card-title">{{image.image_name}}</h5>
            
            <p class="card-text"><small class="text-muted">{{ image.post_date}}</small></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">By {{image.user}}</small>
          </div>
        </div>      
      </div>    
    </div>  
    {% empty %}
    <div class="row">
      <h1 class="text-center"> No Images Yet</h1>
    </div>
    {% endfor %}
  </div>  
</div>
{% endblock %}
